Repository gofiber/template, pull requests merged in 2021-03, with the labels that each got.

#82 Upgrading Jet templating engine to V6
  go.mod
  go.sum
  jet/jet.go
Labels: 🛠 In Progress

#102 📚 Add html embed.FS example
  html/README.md
Labels: 📒 Documentation

#105 📚 Add html unescape values example
  html/README.md
Labels: 📒 Documentation

#104 mustache: fix missing support for partials for embedded filesystems
  mustache/README.md
  mustache/mustache.go
  mustache/mustache_test.go
Labels: 🧹 Updates
