Repository gofiber/template, pull requests merged in 2023-05, with the labels that each got.

#238 Added Benchmarks for all engines
  README.md
  ace/ace_test.go
  ace/views/extended.ace
  ace/views/simple.ace
  amber/amber_test.go
  amber/views/extended.amber
  amber/views/simple.amber
  django/django_test.go
  django/views/extended.django
  django/views/simple.django
  handlebars/handlebars_test.go
  handlebars/views/extended.hbs
  handlebars/views/simple.hbs
  html/html_test.go
  jet/jet_test.go
  jet/views/extended.jet
  jet/views/simple.jet
  mustache/mustache_test.go
  mustache/views/simple.mustache
  pug/pug_test.go
  pug/views/extended.pug
  pug/views/simple.pug
  utils/Extended-TimeperOperation.png
  utils/Fiber Template Benchmarks.xlsx
  utils/Simple-TimeperOperation.png
Labels: 🧹 Updates

#245 Fix incorrect django version tags in README.md: v2 -> v3.
  django/README.md
Labels: 📒 Documentation

#241 Add AddFuncMap to most Engines
  ace/ace.go
  ace/ace_test.go
  amber/amber.go
  amber/amber_test.go
  django/django.go
  django/django_test.go
  handlebars/handlebars.go
  handlebars/handlebars_test.go
  jet/jet.go
  jet/jet_test.go
  pug/pug.go
  pug/pug_test.go
  slim/slim.go
Labels: ✏️ Feature

#250 docs: fixed minor typo
  html/README.md
  html/TEMPLATES_CHEATSHEET.md
Labels: 📒 Documentation

#253 :recycle: refactor: remove old and deprecated Parse() methods
  ace/ace.go
  amber/amber.go
  django/django.go
  handlebars/handlebars.go
  html/html.go
  jet/jet.go
  mustache/mustache.go
  pug/pug.go
  slim/slim.go
Labels: 🧹 Updates

#252 :pencil2: feature: add FuncMap to Slim engine
  slim/slim.go
  slim/slim_test.go
Labels: ✏️ Feature

#251 Interface for template engines
  .gitignore
  ace/ace.go
  ace/ace_test.go
  ace/go.mod
  amber/amber.go
  amber/amber_test.go
  amber/go.mod
  django/django.go
  django/django_test.go
  django/go.mod
  go.mod
  handlebars/go.mod
  handlebars/go.sum
  handlebars/handlebars.go
  handlebars/handlebars_test.go
  html/go.mod
  html/html.go
  html/html_test.go
  jet/README.md
  jet/go.mod
  jet/jet.go
  jet/jet_test.go
  mustache/go.mod
  mustache/mustache.go
  pug/README.md
  pug/go.mod
  pug/pug.go
  slim/go.mod
  slim/slim.go
  slim/slim_test.go
  template.go
Labels: 🧹 Updates

#258 Linter updates
  .github/workflows/linter.yml
  .golangci.yml
  ace/ace.go
  ace/ace_test.go
  amber/amber.go
  amber/amber_1.16_test.go
  amber/amber_test.go
  django/django.go
  django/django_test.go
  handlebars/handlebars.go
  handlebars/handlebars_test.go
  html/html.go
  html/html_test.go
  jet/jet.go
  jet/jet_test.go
  mustache/mustache.go
  mustache/mustache_test.go
  pug/pug.go
  pug/pug_test.go
  slim/slim.go
  slim/slim_test.go
Labels: 🧹 Updates
